{%load static%}
<nav class="navbar navbar-dark bg-dark sticky-top">
    <img style ="padding-left: 30px;" src="{% static 'logo.png' %}" width="40%" class="image " />
    <ul class="nav">
        <li class="nav-item">
            <a style ="text-align: center;" class="navbar-brand nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a style ="text-align: center;" class="nav-link navbar-brand" href="/manage/">Manage</a>
        </li>
        <li class="nav-item">
            <a style ="text-align: center;" class="nav-link navbar-brand" href="/">Signout</a>
        </li>
      </ul>
</nav>




